<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /restaurant-demo/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /restaurant-demo/index.html [L]
</IfModule>